<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: title">
</head>
<body>
	<div th:replace="fragments/header"></div>
	<h3 class="col-lg-10 my-4">Update Student</h3>
	<form action="/student/update/submit" method="post"
		th:object="${student}">
		<div>
			<label for="npm">NPM</label> <input type="text" name="npm"
				readonly="true" th:value="${student.npm}" th:field="*{npm}" />
		</div>
		<div>
			<label for="name">Name</label> <input type="text" name="name"
				th:value="${student.name}" th:field="*{name}" />
		</div>
		<div>
			<label for="gpa">GPA</label> <input type="text" name="gpa"
				th:value="${student.gpa}" th:field="*{gpa}" />

		</div>

		<div>
			<button type="submit" name="action" value="Update">Update</button>
		</div>
	</form>

</body>

</html>



