<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: title">
</head>
<body>
	<div th:replace="fragments/header"></div>
	<h3 th:text="'ID = ' + ${course.id_course}">ID Course</h3>
	<h3 th:text="'Name = ' + ${course.name}">Course Name</h3>
	<h3 th:text="'Credits = ' + ${course.credits}">Course Credits</h3>
	
	 <h3>Mahasiswa yang mengambil</h3>
	<ul th:each="student,iterationStatus: ${course.students}">
		<li th:text="${student.npm} + '-' + ${student.name}">
			NPM-Nama Student</li>
	</ul> 
</body>
</html>